* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2b6777;
    --secondary-color: #c8d8e4;
    --tertiary-color: #52ab98;
    --fourth-color: #ffff;
    --blueish-color: #39395f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fourth-color);
}

header {
    z-index: 99;
    background-attachment: fixed;
    background-position: 80%;
    background-size: cover;
    background-position: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px 25px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1 {
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
    font-size: 36px;
    color: var(--fourth-color);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header a {
    text-decoration: none;
    color: var(--fourth-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul li a {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    background-color: var(--secondary-color);
    background-attachment: fixed;
    background-position: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero img {
    width: 100%;
}

.hero-text {
    width: 100%;
    position: relative;
    margin-top: -70%;
}

.hero-text h1 {
    text-align: center;
    color: black;
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
}

.hero-text h1 p {
    font-size: 1vw;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 20px 35px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

footer h2 {
    color: var(--fourth-color);
    font-size: 30px;
    margin: 0;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

footer div {
    line-height: 1;
    text-align: right;
    color: var(--fourth-color);
}

.flex-row {
    display: flex;
}

section {
    padding: 5rem 0;
    margin-inline: auto;
    width: min(95%, 73.5rem);
    
}


.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 48px;
    color: var(--fourth-color);
    display: inline-block;
    border-bottom: 3px solid;
}

.second-section-title {
        padding-bottom: 20px;
        text-align: center;
        margin: 0 auto 35px auto;
        width: 50%;
        font-size: 48px;
        color: var(--tertiary-color);
        display: inline-block;
        border-bottom: 3px solid;
    }


.primary-border {
    border-color: var();
}

.secondary-border {
    border-color: var();
}


.intro {
    background-color: var(--primary-color);
}

.intro p {
    text-align: center;
    line-height: 1.8;
    color: var(--fourth-color);
    width: 80%;
    font-size: 25px;
    padding: 0 30px;
    display: flex;
}

.intro img {
    padding: 0px, 20px, 0, 0;
    box-shadow: rgba(255, 255, 255, 0.5);
    display: flex;
}

.me {
    display: flex;
}

.gallery-intro {
    background-color: var(--secondary-color);
}
.gallery-main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galley-info {
    margin: 20px;
    color: var();
    flex: 1;
    display: flex;
}

.gallery-main img {
    width: 100%;
    display: flex;
}

.gallery-bio {
    padding: 25px;
    line-height: 1.3;
    color: var(--blueish-color);
}

.gallery-bio h3 {
    font-size: 40px;
    text-align: center;
}

.gallery-bio h4 {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.gallery-bio p {
    font-size: 25px;
    text-align: center;
}

.contact {
    text-align: center;
    position: relative;
    width: 100%;
}
.contact h2 {
    color: black;
}

.contact-form input, .input-subject-email {
    justify-content: space-between;
    border: 1px solid var();
    display: inline;
    padding: 7px 15px;
    font-size: 28px;
    color: black;
    width: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }

.contact-form, .input-firstname-lastname {
    justify-content: space-between;
    outline: none;
    border: 1px solid var(black);
    display: inline;
    padding: 7px 15px;
    font-size: 28px;
    color: black;
    width: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .contact-form textarea {
    outline: none;
    width: 100%;
    border-bottom: 1px solid var();
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .contact-form button {
    display: block;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 32px;
    border: 2px solid black;
  }

/* psueado-clases */
header nav ul li a:hover {
    text-decoration: underline;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}

.gallery-main img:hover {
    box-shadow: 30px -16px teal;
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      position: relative; 
      padding-bottom: 0;
      justify-content: center;
    }

    .hero {
      position: relative;
      justify-content: center;  
    }
   
    header h1 {
     width: 100%;
     text-align: center;
    }
   
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
   
    header nav ul li a {
      font-size: 10px;
    }
   
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .section-title {
      width: 80%;
    }
   

   }
   
   /* MEDIA QUERY FOR TABLETS AND SMALLER */
   @media screen and (max-width: 768px) {
     section {
       padding: 30px 15px;
     }

   }
   
   /* MEDIA QUEY FOR MOBILE PHONES AND SMALLER */
   @media screen and (max-width: 575px) {
   
     .hero-form button {
       width: 100%;
     }
   
     .section-title {
       width: 95%;
     }

     .contact-info {
       text-align: center;
     }
   
     .contact-info > * {
       flex: 0 100%;
     }
   
     .contact-form {
       order: 3;
     }

     .me img {
        width: 100%;
        height: 100%;
        display: block;
     }
   
   }