* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2b6777;
    --secondary-color: #c8d8e4;
    --tertiary-color: #52ab98;
    --fourth-color: #ffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 99;
    background-attachment: fixed;
    background-position: 80%;
    background-size: cover;
    background-position: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1 {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    font-size: 36px;
    color: var(--fourth-color);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header a {
    text-decoration: none;
    color: var(--fourth-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul li a {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    background-attachment: fixed;
    background-position: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero img {
    width: 100%;
}

.hero-text {
    width: 100%;
    position: relative;
    margin-top: -70%;
}

.hero-text h1 {
    text-align: center;
    color: black;
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
}

.hero-text h1 p {
    font-size: 1vw;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      position: relative; 
      padding-bottom: 0;
      justify-content: center;
    }
   
    header h1 {
     width: 100%;
     text-align: center;
    }
   
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
   
    header nav ul li a {
      font-size: 20px;
    }
   
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
   
    .hero-cta, .hero-form {
      width: 100%;
    }
   
    .hero-cta {
      text-align: center;
    }
   
    .section-title {
      width: 80%;
    }
   
    .trainer {
      flex: 0 70%;
    }
   
    .contact-info iframe{
      flex: 1 100%;
    }
   }
   
   /* MEDIA QUERY FOR TABLETS AND SMALLER */
   @media screen and (max-width: 768px) {
     section {
       padding: 30px 15px;
     }
   
     .step h3 {
       flex: 1 100%;
       text-align: center;
     }
   
     .step-info {
       flex: 2 100%;
       text-align: center;
       justify-content: center;
     }
   
     .step-img {
       flex: 0 32%;
       margin-right: 0;
       margin-top: 15px;
       margin-bottom: 15px; 
     }
     
     .step-text {
       flex: 100%;   
     }
   }
   
   /* MEDIA QUEY FOR MOBILE PHONES AND SMALLER */
   @media screen and (max-width: 575px) {
   
     .hero-form button {
       width: 100%;
     }
   
     .section-title {
       width: 95%;
     }
   
     .intro p {
       width: 100%;
     }
   
     .trainer {
       flex: 0 100%;
     }
   
     .contact-info {
       text-align: center;
     }
   
     .contact-info > * {
       flex: 0 100%;
     }
   
     .contact-form {
       order: 3;
     }
   
   }